{% extends 'base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}
    <h1>Aide</h1>
    <hr>
    <div class="row d-flex justify-content-center">
        <div class="col-5 bg-primary-subtle m-2">
            <h2>Produit</h2>
            <p>Tous les prix de tous les produit son or taxe, la taxe ce leve a 20%.
            Donc tout les prix doit etre augmenter de 20%.</p>
        </div>
        <div class="col-5 bg-primary-subtle m-2">
            <h2>Livraison</h2>
            <p>Tous les livraison sont faire par colissimo, les frais se leve a 5€ jusqu'a 80€ de commande apres cette somme les frais decendre a 0€.</p>
        </div>
    </div>

{% endblock %}