{% extends 'base.html.twig' %}

{% block title %}Qui somme nous{% endblock %}

{% block body %}
    <h1>Qui somme nous?</h1>
<div class="row">
    <div class="col-6">
        <p class="mt-5">
            Nous somme une librairie en ligne, specialist dans les livres a bulle depuis 2023.
            Nous vendons au particulier comme au profetionnel, en petit quantiter comme en grand.

        </p>
    </div>
    <div class="col-6">
        <img src="/image/logo.png">
    </div>
</div>
{% endblock %}
