{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<div class="row d-flex justify-content-center mt-5">
    <div class="col-6 bg-primary-subtle">
        <div class="d-flex justify-content-center w-100">
            <div>
                <h1 class="mt-4">Formulaire de modification des information de l'utilisateur</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}