{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
{% if app.request.method == 'POST' %}
    <div>
        {% if bds | length == 0 %}
            <h4>Aucun résulat pour votre recherche.</h4>
           {% else %}
               <h3 class="mt-3">Vos résulats de recherche :</h3>
               {% for bd in bds %}
                   <div class="mt-3 p-3 bg-primary-subtle border rounded">
                       <a href="{{ path('app_bd', {'id': bd.id}) }}">
                              <h6 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i> {{ bd.titre }}</h6>
                       </a>
                   </div>
              {% endfor %}
          {% endif %}
     </div>
{% endif %}
</div>
{% endblock %}
