body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    width: 100%;
} 

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

image{
    width: 25rem;
    height: 30rem;
}

@media screen and (max-width: 992px) {
    .nbr{
        display: none;
    }
    
    .ensemble{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-around;
        flex-wrap: nowrap;  
    }
}